{% load static bleach_tags thumbnail %}
<form id="sortForm" class="sortable" hx-post="{% url 'campaigns:maps:locations:sort' campaign_pk=campaign_pk map_pk=map_pk %}" hx-trigger="end">
<h3 class="text-center">Drag to sort</h3>
<div class="htmx-indicator whitegreen text-center mb-1">Updating...</div>
{% for location in locations %}
  <div class="row mb-3 dark-color-scheme rounded-2 ca-pointer" hx-get="{% url 'campaigns:maps:locations:detail' campaign_pk=location.map.campaign.id map_pk=location.map.id location_pk=location.id %}" hx-trigger="click" hx-target="#dialog">
    <div class="col-4 mt-2">
      {% if location.image %}
        {% thumbnail location.image "150x150" crop="center" as image %}
          <img src="{{ image.url }}" height="{{ image.height }}" width="{{ image.width }}" alt="Image of the location" class="img-fluid">
        {% endthumbnail %}
      {% else %}
        <img src="{% static 'images/default_location.jpg' %}" height="150" width="150" alt="Default location image" class="img-fluid">
      {% endif %}
    </div>
    <div class="col-8">
      <h4>{{ location.name }}</h4>
      <p>{{ location.description|bleach|truncatewords_html:25 }}</p>
    </div>
    <input type="hidden" name="location_order" value="{{ location.id }}">
  </div>
{% endfor %}
</form>
{% block inline_javascript %}
<script>
  var active_marker = {}

  function toggleIcons(layer) {
    if ("setIcon" in active_marker) {
      active_marker.setIcon(blueIcon)
    }
    active_marker = layer
    active_marker.setIcon(redIcon)
  }

  function addMarkersToMap(data) {
    L.geoJSON(data, {
      onEachFeature: function (feature, layer) {
        try {
          {# Ignore when active_location is None #}
          if (layer.feature.properties.id === {{ active_location }}) {
            layer.setIcon(redIcon)
            active_marker = layer
          }
        } catch(e) {}
        layer.on("click", (e) => {
          toggleIcons(layer)
          window.history.pushState({}, null, document.URL.split("?")[0])  {# Remove the querystring. #}
          let dialog = htmx.find("#dialog")
          fetch(feature.properties.detailUrl).then(response => {
            return response.text()
          }).then(newHTML => {
            dialog.innerHTML = newHTML
            htmx.process(dialog)
          })
          modal.show()
        })
      }
    }).addTo(map)
  }

  var data = {
    "type": "FeatureCollection",
    "features": [],
  }
  {# Loop over locations and add them to a FeatureCollection which is then used to build the markers on the map. #}
  {% for location in locations %}
    data.features.push({
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": ["{{ location.longitude }}", "{{ location.latitude }}"] {# Coordinates here need to be reversed. #}
      },
      "properties": {
        "detailUrl": "{% url 'campaigns:maps:locations:detail' campaign_pk=location.map.campaign.id map_pk=location.map.id location_pk=location.id %}",
        "id": {{ location.id }}
      }
    })
  {% endfor %}
  addMarkersToMap(data)
</script>
{% endblock %}
