{% load static bleach_tags %}
{% block content %}
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ location.name }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-4">
        <img class="img-fluid" src="{% if location.image %}{{ location.image.url }}{% else %}{% static 'images/default_location.jpg' %}{% endif %}" alt="Image of {{ location.name }}">
      </div>
      <div class="col-6">
        <p>{{ location.description|bleach }}</p>
      </div>
    </div>
  </div>
  {% url 'campaigns:maps:locations:update' campaign_pk=campaign_pk map_pk=map_pk location_pk=location.id as edit_url %}
  {% url 'campaigns:maps:locations:delete' campaign_pk=campaign_pk map_pk=map_pk location_pk=location.id as delete_url%}
  {% include "components/_edit_delete_buttons.html" with edit_url=edit_url delete_url=delete_url %}
</div>
{% endblock %}
