{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% if location %}
  {% url 'campaigns:maps:locations:update' campaign_pk=campaign_pk map_pk=map_pk location_pk=location.id as url %}
{% else %}
  {% url 'campaigns:maps:locations:create' campaign_pk=campaign_pk map_pk=map_pk as url %}
{% endif %}

<form class="modal-content" enctype="multipart/form-data" hx-post="{{ url }}">
  <div class="modal-header">
    <h5 class="modal-title">{% if object %}Update {{ object.name }}{% else %}Create{% endif %}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {% crispy form %}
  </div>
</form>
