<script>
  let data = {
    "type": "FeatureCollection",
    "features": [],
  }
  {% for location in locations %}
    // Loop over locations and add them to a FeatureCollection which is then used to build the markers on the map.
    data.features.push({
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": ["{{ location.longitude }}", "{{ location.latitude }}"] {# Coordinates here need to be reversed. #}
      },
      "properties": {
        "detailUrl": "{% url 'campaigns:maps:locations:detail' campaign_pk=location.map.campaign.id map_pk=location.map.id location_pk=location.id %}",
      }
    })
  {% endfor %}
  L.geoJSON(data, {
    onEachFeature: function(feature, layer) {
      layer.on("click", (e) => {
        let dialog = htmx.find("#dialog")
        fetch(feature.properties.detailUrl).then(response => {
          return response.text()
        }).then(newHTML => {
          dialog.innerHTML = newHTML
          htmx.process(dialog)
        })
        modal.show()
      })
    }
  }).addTo(map)
</script>
