{% block inline_javascript %}
<script>
  var active_marker = {}

  function toggleIcons(layer) {
    if ("setIcon" in active_marker) {
      if (active_marker.feature.properties.hidden === "True") {
        active_marker.setIcon(greyIcon)
      } else {
        active_marker.setIcon(blueIcon)
      }
    }
    active_marker = layer
    active_marker.setIcon(redIcon)
  }

  function addMarkersToMap(data) {
    L.geoJSON(data, {
      onEachFeature: function (feature, layer) {
        layer.bindTooltip(layer.feature.properties.name, {permanent: true, direction: 'top', offset:L.point(-17, -15)})
        if (layer.feature.properties.hidden === "True") {
            layer.setIcon(greyIcon)
        }
        try {
          {# Ignore when active_location is None #}
          if (layer.feature.properties.id === {{ active_location }}) {
            layer.setIcon(redIcon)
            active_marker = layer
          }
        } catch(e) {}
        layer.on("click", (e) => {
          toggleIcons(layer)
          window.history.pushState({}, null, document.URL.split("?")[0])  {# Remove the querystring. #}
          let dialog = htmx.find("#dialog")
          fetch(feature.properties.detailUrl).then(response => {
            return response.text()
          }).then(newHTML => {
            dialog.innerHTML = newHTML
            htmx.process(dialog)
          })
          modal.show()
        })
      }
    }).addTo(map)
  }

  var data = {
    "type": "FeatureCollection",
    "features": [],
  }
  {# Loop over locations and add them to a FeatureCollection which is then used to build the markers on the map. #}
  {% for location in locations %}
    data.features.push({
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": ["{{ location.longitude }}", "{{ location.latitude }}"], {# Coordinates here need to be reversed. #}
      },
      "properties": {
        "detailUrl": "{% url 'campaigns:maps:locations:detail' campaign_pk=location.map.campaign.id map_pk=location.map.id location_pk=location.id %}",
        "id": {{ location.id }},
        "name": "{{ location.name }}",
        "hidden": "{{ location.hidden }}"
      }
    })
  {% endfor %}
  addMarkersToMap(data)
</script>
{% endblock %}
