{% block content %}
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ location.name }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {{ location.description }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" hx-get="{% url 'campaigns:maps:locations:update' campaign_pk=campaign_pk map_pk=map_pk location_pk=location.id %}" hx-target="#dialog">Edit</button>
    <button type="button" class="btn btn-danger" hx-get="{% url 'campaigns:maps:locations:delete' campaign_pk=campaign_pk map_pk=map_pk location_pk=location.id %}" hx-target="#dialog">Delete</button>
  </div>
</div>
{% endblock %}
