{% load static bleach_tags thumbnail %}
{% block content %}
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ location.name }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-4">
        {% if location.image %}
          {% thumbnail location.image "150x150" crop="center" as image %}
            <img src="{{ image.url }}" height="{{ image.height }}" width="{{ image.width }}" alt="Image of {{ object.name }}" class="img-fluid">
          {% endthumbnail %}
        {% else %}
          <img src="{% static 'images/default_location.jpg' %}" alt="Image of {{ location.name }}" class="img-fluid">
        {% endif %}
      </div>
      <div class="col-6">
        <p>{{ location.description|bleach }}</p>
      </div>
    </div>
  </div>
  {% url 'campaigns:maps:locations:update' campaign_pk=campaign_pk map_pk=map_pk location_pk=location.id as edit_url %}
  {% url 'campaigns:maps:locations:delete' campaign_pk=campaign_pk map_pk=map_pk location_pk=location.id as delete_url%}
  {% include "components/_edit_delete_buttons.html" with edit_url=edit_url delete_url=delete_url %}
</div>
{% endblock %}
