{% load static campaigns_filters %}

<div class="col-3">
  <div class="card h-100 radius-15 bg dark-color-scheme">
    <a class="text-decoration-none text-reset" href="{{ url }}">
      <div class="card-body text-center">
        <div class="p-4 border">
          {% if object.image %}
            <img src="{{ object.image.url }}" class="shadow img-fluid" alt="Image of {{ object.name }}">
          {% else %}
            <img src="{% static default_image %}" class="shadow img-fluid" alt="Image of {{ object.name }}">
          {% endif %}
          <h5 class="mt-2 whitegreen">{{ object.name }}</h5>
        </div>
      </div>
    </a>
    {% if object|to_class_name == "Character" %}
    {% include 'characters/character_card_footer.html' %}
    {% endif %}
  </div>
</div>
