{% load static thumbnail %}

{% for campaign in campaigns %}
<div class="col">
<a class="text-decoration-none text-reset" href="{% url 'campaigns:detail' campaign_pk=campaign.id %}">
  <div class="card h-100 radius-15 bg dark-color-scheme">
    <div class="card-body text-center">
      <div class="p-4 border radius-15">
        {% if campaign.image %}
          {% thumbnail campaign.image "250x250" crop="center" as image %}
            <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" class="rounded-circle shadow" alt="">
          {% endthumbnail %}
        {% else %}
          <img src="{% static 'images/default_campaign_image.jpg' %}" width="250" height="250" class="rounded-circle shadow" alt="">
        {% endif %}
        <h5 class="mb-5 mt-5">{{ campaign.name }}</h5>
      </div>
    </div>
  </div>
</a>
</div>
{% endfor %}
