{% extends "base.html" %}
{% load static %}

{% block title %}Campaign: {{ campaign.name }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row mb-3 border-bottom">
    <div class="text-center">
      <h2>{{ campaign.name }}</h2>
      <p>{{ campaign.description }}</p>
      <p>{{ campaign.invite_code }}</p>
      <div class="mb-3">
        <button type="button" class="btn btn-primary" hx-get="{% url 'campaigns:update' campaign.id %}" hx-target="#dialog">Edit</button>
        <button type="button" class="btn btn-danger" hx-get="{% url 'campaigns:delete' campaign.id %}" hx-target="#dialog">Delete</button>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-sm">
      <button class="light" hx-trigger="click, mapListChanged from:body" hx-get="{% url 'campaigns:maps:list' campaign_pk=campaign.id %}" hx-target="#hx-target">Maps</button>
    </div>
    <div class="col-sm">
      <button class="light" hx-trigger="click, characterListChanged from:body" hx-get="{% url 'campaigns:characters:hx-list' campaign_pk=campaign.id %}" hx-target="#hx-target">Characters</button>
    </div>
  </div>

  <div class="row mt-3" id="hx-target"></div>
</div>
{% endblock content %}
