{% load static i18n compress django_htmx socialaccount %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Campaign Alchemy{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Create your own RPG campaign and upload maps with custom tags">
    <meta name="author" content="Wouter Lansu">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />

    {% compress css %}
      <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endcompress %}
    {% endblock %}

    {% block javascript %}
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/leaflet.js' %}"></script>
      <script src="{% static 'js/htmx.min.js' %}"></script>
      {% django_htmx_script %}
      {% compress js %}
        <script defer src="{% static 'js/project.js' %}"></script>
      {% endcompress %}
    {% endblock javascript %}
    {% block extra_head %}{% endblock %}
  </head>

  <body class="bg-main" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <nav class="navbar navbar-expand-lg navbar-light dark-color-scheme mb-3">
      <div class="container-fluid">
        {% url 'home' as url %}
        <a class="navbar-brand {% if request.path == url %}active{% endif %}" href="{{ url }}">Campaign Alchemy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.user %}
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              {% url 'campaigns:list' as url %}
              <a class="nav-link {% if request.path == url %}active{% endif %}" aria-current="page" href="{{ url }}">Campaigns</a>
            </li>
            <li class="nav-item">
              {% url 'characters:list' as url%}
              <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">My Characters</a>
            </li>
            <li class="nav-item dropdown">
              {% url 'users:detail' request.user.username as url %}
              <a class="nav-link dropdown-toggle {% if request.path == url %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
              </a>
              <ul class="dropdown-menu">
{#                <li><a class="dropdown-item" href="{{ url }}">My Profile</a></li>#}
{#                <li><hr class="dropdown-divider"></li>#}
                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sign in
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% provider_login_url "google" %}">Sign in with Google</a></li>
                <li><a class="dropdown-item" href="{% url "account_login" %}">Log in with email</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url "account_signup" %}">Sign up with email</a></li>
              </ul>
            </li>
            {% endif %}
          {% endif %}
          </ul>
          <form class="d-flex" role="search">
            <input
              type="search"
              name="search"
              class="form-control me-2 search-input"
              autocomplete="off"
              placeholder="Search"
              aria-label="Search"
              hx-trigger="keyup changed delay:500ms, search"
              hx-target="#dialog"
              hx-get="{% url 'full-search' %}"
              hx-swap="innerHTML"
            />
          </form>
        </div>
      </div>
    </nav>

    <div class="container" id="main-container">

      {% block content %}{% endblock content %}

    </div> <!-- /container -->

    <div id="modal" class="modal fade">
      <div id="dialog" class="modal-dialog"></div>
    </div>

    {% block inline_javascript %}
    {% endblock inline_javascript %}
    {% include 'toasts.html' %}
    <script src="{% static 'js/toasts.js' %}"></script>
  </body>
</html>
