<form action="{{ request.path }}" method="post" class="modal-content">{% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">Delete {{ object }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete "{{ object }}"?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-danger">Yes</button>
  </div>
</form>
