{% load static %}

<div class="row text-center">
  <div class="col mb-2">
    <button type="button" class="btn btn-primary" hx-get="{% url 'campaigns:maps:create' campaign_pk=campaign.id %}" hx-target="#dialog">Create</button>
  </div>
</div>

<div class="row mt-1">
{% for map in maps %}
<div class="col-3">
  <a class="text-decoration-none text-reset" href="{% url 'campaigns:maps:detail' campaign_pk=map.campaign_id map_pk=map.id %}">
  <div class="card radius-15 bg dark-color-scheme">
    <div class="card-body text-center">
      <div class="p-4 border radius-15">
        {% if map.image %}
          <img src="{{ map.image.url }}" width="110" height="110" class="rounded-circle shadow" alt="">
        {% else %}
          <img src="{% static 'images/default_campaign_image.jpg' %}" width="110" height="110" class="rounded-circle shadow" alt="">
        {% endif %}
        <h5 class="mt-2 whitegreen">{{ map.name }}</h5>
      </div>
    </div>
  </div>
  </a>
</div>
{% endfor %}
</div>
