{% extends "base.html" %}
{% load static crispy_forms_tags crispy_forms_filters %}

{% block title %}Map: {{ map.name }}{% endblock %}

{% block content %}
<div class="row full-height">
  <div class="col-sm-12 text-center">
    <div hx-get="{% url 'campaigns:maps:detail' campaign_pk=map.campaign_id map_pk=map.id %}" hx-trigger="mapChanged from:body" hx-target="this">
      {% include 'maps/_partial_map_detail.html' %}
    </div>
    <h5 class="mt-3"><i>Click</i> on the map to add location markers.</h5>
    {% url 'campaigns:maps:update' campaign_pk=map.campaign_id map_pk=map.id as edit_url %}
    {% url 'campaigns:maps:delete' campaign_pk=map.campaign_id map_pk=map.id as delete_url%}
    {% include "components/_edit_delete_buttons.html" with edit_url=edit_url delete_url=delete_url %}
    <div id="map">
      <div class="overlay" hx-trigger="load from:body, locationListChanged from:body" hx-get="{% url 'campaigns:maps:locations:list' campaign_pk=map.campaign.id map_pk=map.id %}" hx-target="this"></div>
    </div>
  </div>
</div>
{% endblock content %}

{% block inline_javascript %}
<script>
const map = L.map("map", {
  scrollWheelZoom: false,
  attributionControl: false,
  crs: L.CRS.Simple,
  minZoom: -10,
  maxZoom: 5,
})

function onMapClick(e) {
  const lng = e.latlng.lng
  const lat = e.latlng.lat
  const url = "{% url 'campaigns:maps:locations:create' campaign_pk=map.campaign.id map_pk=map.id %}"
  const request = new Request(url)
  fetch(request)
    .then(response => response.text())
    .then((text) => {
      document.getElementById("dialog").innerHTML = text
      document.getElementById("id_latitude").value = lat
      document.getElementById("id_longitude").value = lng
      htmx.process(document.getElementById("dialog"))
      {# Editor needs to be removed after every use since it won't reinitialize itself. #}
      tinymce.remove()
      tinymce.init({
        selector:'textarea',
        menubar: false,
        plugins: "lists,link",
        toolbar: 'styleselect | bold italic | link | bullist numlist',
        language: "en_US",
      })
      {# Trigger the save on the tinymce editor since it can't do it itself due to the way it's been loaded. #}
      htmx.on("htmx:configRequest", (e) => {
        try {
          tinyMCE.triggerSave()
        } catch (error) {

        }
      })
    })
  modal.show()
}
map.on('click', onMapClick);

const image_url = "{{ map.image.url|urlencode }}"
const bounds = [ [0, 0], ["{{ map.resolution_height }}","{{ map.resolution_width }}"]];
L.imageOverlay(image_url, bounds).addTo(map)
map.fitBounds(bounds)
</script>
{% endblock inline_javascript %}
