{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}{% if map %}{{ map.name }}{% else %}Create Map{% endif %}{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{% if map %}{% url 'campaigns:maps:update' campaign_pk=campaign.id pk=map.id %}{% else %}{% url 'campaigns:maps:create' campaign_pk=campaign.id %}{% endif %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}
