{% load static %}
{% for map in maps %}
<div class="col">
  <a class="text-decoration-none text-reset" href="{% url 'campaigns:maps:detail' campaign_pk=map.campaign_id map_pk=map.id %}">
  <div class="card radius-15 bg dark-color-scheme">
    <div class="card-body text-center">
      <div class="p-4 border radius-15">
        {% if map.image %}
          <img src="{{ map.image.url }}" width="110" height="110" class="rounded-circle shadow" alt="">
        {% else %}
          <img src="{% static 'images/default_image.png' %}" width="110" height="110" class="rounded-circle shadow" alt="">
        {% endif %}
        <h5 class="mb-0 mt-5">{{ map.name }}</h5>
      </div>
    </div>
  </div>
  </a>
</div>
{% endfor %}
