{% extends "base.html" %}
{% load static crispy_forms_tags crispy_forms_filters %}

{% block title %}Map: {{ map.name }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2 class="text-center">{{ map.name }}</h2>
      {% if map.description %}
        <p>{{ map.description }}</p>
      {% endif %}
      <div id="map">
        <div id="modal" class="modal fade">
          <div id="dialog" class="modal-dialog"></div>
        </div>
        <div class="overlay" hx-trigger="load from:body" hx-get="{% url 'campaigns:maps:locations:list' campaign_pk=map.campaign.id map_pk=map.id %}" hx-target="this"></div>
      </div>
    </div>
  </div>

  <!-- Action buttons -->
  <div class="row mt-3">
    <div class="col-sm-12 ">
      <button type="button" class="btn btn-primary" hx-get="{% url 'campaigns:maps:update' campaign_pk=map.campaign.id map_pk=map.id %}" hx-target="#dialog">Edit</button>
      <button type="button" class="btn btn-danger" hx-get="{% url 'campaigns:maps:delete' campaign_pk=map.campaign.id map_pk=map.id %}" hx-target="#dialog">Delete</button>
    </div>
  </div>
</div>
{% endblock content %}

{% block inline_javascript %}
<script>
const map = L.map("map", {
  scrollWheelZoom: false,
  attributionControl: false,
  crs: L.CRS.Simple,
  minZoom: -5,
  maxZoom: 5
})

function onMapClick(e) {
  if (!e.originalEvent.shiftKey) {
    // In order not to interfere with normal click events, only open modal on shift + click events.
    return
  }

  const lng = e.latlng.lng
  const lat = e.latlng.lat
  const url = "{% url 'campaigns:maps:locations:create' campaign_pk=map.campaign.id map_pk=map.id %}"
  fetch(url).then(response => {
    return response.text()
  }).then(newHTML => {
    document.getElementById("dialog").innerHTML = newHTML
    document.getElementById("id_latitude").value = lat
    document.getElementById("id_longitude").value = lng
  })
  modal.show()
}
map.on('click', onMapClick);

const image_url = window.location.protocol + "//" + "{{ request.get_host }}" + "{{ map.image.url }}"
const bounds = [[0,0], ["{{ map.resolution_height }}","{{ map.resolution_width }}"]];
console.log(bounds)
L.imageOverlay(image_url, bounds).addTo(map)
map.fitBounds(bounds)
</script>
{% endblock inline_javascript %}
