{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container text-center">
  <div class="row" hx-get="{% url 'users:detail' object.username %}" hx-trigger="objectChanged from:body" hx-target="this">
    {% include 'users/user_detail_partial.html' %}
  </div>

  {% if object == request.user %}
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary" hx-get="{% url 'users:update' %}" hx-target="#dialog">My Info</button>
      <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    </div>
  </div>
  {% endif %}

</div>
{% endblock content %}
