{% load static thumbnail %}

{% url "characters:list" as url %}
{% if request.path == url %}
{# Only allow creation from the character list page. #}
<div class="row text-center">
  <div class="col mb-2">
    <button type="button" class="btn btn-primary" hx-get="{% url 'characters:create' %}" hx-target="#dialog">Create</button>
  </div>
</div>
{% endif %}

<div class="row mt-1">
{% for character in characters %}
  {% url 'characters:detail' character.pk as url %}
  {% include 'components/_card_item.html' with object=character url=url default_image='images/default_character.jpg' %}
{% endfor %}
</div>
