{% load static %}

{% url "characters:list" as url %}
{% if request.path == url %}
{# Only allow creation from the character list page. #}
<div class="row text-center">
  <div class="col mb-2">
    <button type="button" class="btn btn-primary" hx-get="{% url 'characters:create' %}" hx-target="#dialog">Create</button>
  </div>
</div>
{% endif %}

<div class="row mt-1">
{% for character in characters %}
  <div class="col-3">
    <div class="card h-100 radius-15 bg dark-color-scheme">
      <a class="text-decoration-none text-reset" href="{% url 'characters:detail' character.pk %}">
        <div class="card-body text-center">
          <div class="p-4 border radius-15">
            {% if character.image %}
              <img src="{{ character.image.url }}" width="140" height="140" class="rounded-circle shadow" alt="Image of {{ character.name }}">
            {% else %}
              <img src="{% static 'images/default_campaign_image.jpg' %}" width="140" height="140" class="rounded-circle shadow" alt="Default character image">
            {% endif %}
            <h5 class="mt-2 whitegreen">{{ character.name }}</h5>
          </div>
        </div>
      </a>
      {% include 'characters/character_card_footer.html' %}
    </div>
  </div>
{% endfor %}
</div>
