{% load static %}

<div class="card-footer">
  <div class="row">
  {% if character.campaign %}
    <div class="col-9">

    {# Don't show the campaign link on the campaign detail page, we're already there. #}
    {% url 'campaigns:characters:list' campaign_pk=character.campaign_id as url %}
    {% if not request.path == url %}
      <a href="{% url 'campaigns:detail' campaign_pk=character.campaign_id %}"><h5 class="text-center">{{ character.campaign }}</h5></a>
    {% endif %}

    </div>
    <div class="col-1">
      {% if request.user == character.player or request.user == character.creator or request.user == character.campaign.dm %}
      <img
        alt="Remove character from campaign"
        class="ca-pointer"
        src="{% static 'images/icons/bookmark-x.svg' %}"
        height="20"
        width="20"
        hx-trigger="click"
        hx-get="{% url 'characters:remove' character.pk %}"
        hx-target="#dialog"
        data-toggle="tooltip"
        data-placement="top"
        title="Remove from campaign"
      >
      {% endif %}
    </div>
  {% else %}
    <div class="col-9">
    </div>
    <div class="col-1">
      {% if request.user == character.player or request.user == character.creator or request.user == character.campaign.dm %}
      <img
        alt="Add character to campaign"
        class="ca-pointer"
        src="{% static 'images/icons/bookmark-plus.svg' %}"
        height="20"
        width="20"
        hx-trigger="click"
        hx-get="{% url 'characters:add' character.pk %}"
        hx-target="#dialog"
        data-toggle="tooltip"
        data-placement="top"
        title="Add to campaign"
      >
      {% endif %}
    </div>
  {% endif %}
  </div>
</div>

{% block inline_jacascript %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
