{% extends "base.html" %}
{% load static %}

{% block title %}{{ character.name }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row mb-3" hx-get="{% url 'characters:detail' character_pk=character.pk %}" hx-trigger="characterChanged from:body" target="this">
    {% include 'characters/_partial_character_detail.html' %}
  </div>
  <div class="border-top"></div>
  <div class="text-center mt-3">
    <button type="button" class="btn btn-primary" hx-get="{% url 'characters:update' character.id %}" hx-target="#dialog">Edit</button>
    <button type="button" class="btn btn-danger" hx-get="{% url 'characters:delete' character.id %}" hx-target="#dialog">Delete</button>
  </div>
</div>
{% endblock content %}
