{% extends "base.html" %}
{% load static %}

{% block title %}Characters{% endblock %}

{% block content %}
<div class="row mb-3">
  <div class="text-center">
    <input
      type="search"
      name="search"
      class="search-input"
      autocomplete="off"
      placeholder="Search"
      hx-trigger="keyup changed delay:500ms, search, characterListChanged from:body"
      hx-target="#hx-target"
      hx-get="{% url 'characters:hx-list' %}"
      hx-swap="innerHTML"
    />
  </div>
</div>
<div class="container" id="hx-target">
  {% include "characters/partial_list.html" %}
</div>
{% endblock %}
